bin/Debug/netcoreapp3.0/DesignPatternDemo.dll
bin/Debug/netcoreapp3.0/DesignPatternDemo.deps.json
bin/Debug/netcoreapp3.0/DesignPatternDemo.exe
bin/Debug/netcoreapp3.0/DesignPatternDemo.pdb
bin/Debug/netcoreapp3.0/DesignPatternDemo.runtimeconfig.dev.json
obj/DesignPatternDemo.csproj.nuget.g.targets
bin/Debug/netcoreapp3.0/DesignPatternDemo.runtimeconfig.json
obj/DesignPatternDemo.csproj.nuget.cache
obj/DesignPatternDemo.csproj.nuget.dgspec.json
obj/DesignPatternDemo.csproj.nuget.g.props
obj/project.assets.json
obj/Debug/netcoreapp3.0/DesignPatternDemo.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/DesignPatternDemo.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/DesignPatternDemo.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/DesignPatternDemo.assets.cache
obj/Debug/netcoreapp3.0/DesignPatternDemo.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.0/DesignPatternDemo.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/DesignPatternDemo.dll
obj/Debug/netcoreapp3.0/DesignPatternDemo.exe
obj/Debug/netcoreapp3.0/DesignPatternDemo.pdb
obj/Debug/netcoreapp3.0/DesignPatternDemo.csproj.CopyComplete
bin/Debug/netcoreapp3.0/Autofac.dll
bin/Debug/netcoreapp3.0/capitals.txt
bin/Debug/netcoreapp3.0/MoreLinq.dll
bin/Debug/netcoreapp3.0/nunit.framework.dll
